<div class="container">
  <div class="row">
    <div class="col">
      <div class="container">
        <p-panel header="From:">
          <div class="row flex-column vh-75">
            <div class="col">
              <div class="row h-100">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="d-flex flex-column gap-2 w-80">
                    <label for="networkFrom">Network:</label>
                    <input pInputText id="networkFrom" [(ngModel)]="value"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row h-100">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="d-flex flex-column gap-2 w-80">
                    <label for="addressFrom">Address:</label>
                    <input pInputText id="addressFrom" [(ngModel)]="value"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
    </div>
    <div class="col-3">
      <div class="container">
        <div class="row vh-75">
          <div class="d-flex justify-content-center align-items-center">
            <div class="row w-100 align-items-center">
              <p-panel header="Amount:" class="my-5">
                <div class="row h-100">
                  <div class="d-flex justify-content-center align-items-center">
                    <input pInputText class="w-100" id="amount" [(ngModel)]="value"/>
                  </div>
                </div>
              </p-panel>

              <p-button label="確認" styleClass="w-100"></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container">
        <p-panel header="To:">
          <div class="row flex-column vh-75">
            <div class="col">
              <div class="row h-100">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="d-flex flex-column gap-2 w-80">
                    <label for="networkTo">Network:</label>
                    <input pInputText id="networkTo" [(ngModel)]="value"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="row h-100">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="d-flex flex-column gap-2 w-80">
                    <label for="addressTo">Address:</label>
                    <input pInputText id="addressTo" [(ngModel)]="value"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-panel>
      </div>
    </div>
  </div>
</div>
